{% extends 'base.html' %}
{% load static %}

{% block content %}
<body>
    <div class="">
        <div class="container">
            <div class="row">

                <div class="col-xs-12">
                    <img class="img-responsive" src="{% static 'assets/images/img-01.jpg' %}">
                </div>
            </div>
        </div>
    </div>

    <div class="section-container">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-8 col-md-offset-2">
                    <div class="text-center">
                        <h1>About-us</h1>
                    </div>
                    <p class="section-container-spacer">
                        Welcome to Law Questions, your number one source for all past questions concerning law. We're dedicated to providing you the best of questions, with a focus on dependability. customer service, and detailness.
                        
                        
                        We're working to turn our passion for Law into a booming online law questionaires. We hope you enjoy our past questions as much as we enjoy offering them to you.
                        
                        
                        
                        
                    </p>

                    <div class="row section-container-spacer">
                        <div class="col-md-6">
                            <img class="img-responsive" src="{% static 'assets/images/img-03.jpg' %}">
                        </div>
                        <div class="col-md-6">
                            <img class="img-responsive" src="{% static 'assets/images/img-02.jpg' %}">
                        </div>
                    </div>

                </div>

                <div class="col-xs-12 col-md-8 col-md-offset-2">

                    <p>
                        Founded in 2022 by Ajua Joseph, Law Questions has come a long way from its beginnings at the University of Buea. 
                        When Mr Ajua first started out, his passion for law drove him to do tons of research 
                        so that Law Questions can offer you competitive and quality questions on law to enhance your skills on the course.
                        We are thrilled that we're able to turn our passion into our own website.</p>
                        <p>Sincerely,</p>
                    <small class="signature pull-right">Ajua Joseph</small>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>

{% endblock %}







